* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.container {
    background-color: rgb(255, 252, 248);
    padding: 30px 40px;
    border-radius: 10px;
    width: 50%;

}

header h2 {
    font-size: 1.4rem;
}

.para {
    margin-top: 12px;
    font-size: 18px;
}

.para .content-container-2 {
    display: none;
}

.btn {
    background-color: rgb(24, 4, 1);
    color: aliceblue;
    border: none;
    font-size: 1.1rem;
    padding: 10px 45px;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

/*JS*/

.content-container-2.toggle {
    display: block;
}